<% layout('layouts/boilerplate') %>

<form action="/campgrounds" method="post">
    <div><label for="title">Name of the campground: </label>
        <input type="text" name="campground[title]" id="title">
    </div>
    <div><label for="location">Location of the campground: </label>
        <input type="text" name="campground[location]" id="location">
    </div>
    <button type="submit">Submit</button>
</form>
<br><a href="/campgrounds/">Cancel</a>