<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Campground</title>
</head>

<body>
    <form action="/campgrounds" method="post">
        <label for="title">Name of the campground: </label>
        <input type="text" name="title" id="title">
        <br><label for="location">Location of the campground: </label>
        <input type="text" name="location" id="location">
        <button type="submit">Submit</button>
    </form>
    <br><a href="/campgrounds/">Cancel</a>
</body>

</html>